.date-card {
  width: 300px;
  display: inline-block;
  margin: 20px auto 0px auto;
}

.date-card .images {
  height: 150px;
  background-position: center;
  background-size: contain;
  background-image: url(https://tclf.org/sites/default/files/thumbnails/image/MeridianHillPark_feature_CharlesBirnbaum_2013-02.jpg);
}

.date-card .description {
  text-transform: capitalize;
  padding: 1px 10px;
  background-color: #ed6565;
  color: white;
}

.date-card title {

}