:root {
  --primary: #F15F3A;
  --primaryDark: #d95534;
  --primaryHighlight: #FFFAF8;
  --primaryBorder: #FFC6AF;
  --secondary: #FAB300;
  --secondaryDark: #e0a100;
  --grayLight: #DFDFDF;
  --gray: #AEAEAE;
  --grayDark: #979797;

}