.container {
  width: 100vw;
}

.header {
  height: 40px;
  box-shadow: 0px 6px 12px rgba(152, 162, 179, 0.15), 0px 4px 4px rgba(152, 162, 179, 0.15), 0px 2px 2px rgba(152, 162, 179, 0.15);
  font-size: 14px;
  padding-left: 16px;
}

.closeButton {
  display: flex;
  align-items: center;
  height: 100%;
}

.user {
  height: 64px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grayLight);
}

.list {
  list-style: none; /* Remove default bullets */
}

.list a {
  font-family: 'Lato';
  font-weight: normal;
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.list li {
  margin: 10px 0;
  vertical-align: middle;
}

.list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--primary); /* Change the color */
  font-size: 18px;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.profilePic {
  border-radius: 16px;
  margin-right: 12px;
}