.container {
  height: 50px;
}

.container div {
  min-height: 50px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.loginButton {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.loginButton:focus {
  outline: none;
}

.profilePic {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.beaconTitle span {
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 40px;
  }
  .container div {
    min-height: 40px;
    background-color: white;
  }
  .beaconTitle span {
    color: var(--primary);
  }
}