{
  "extends": "airbnb",
  "rules": {
    "react/forbid-prop-types": "off"
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    }
  }
}