.userCardContent {
  padding: 22px 22px 22px 0;
  color: black;
  position: relative;
}

.userCardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.userImage {
  width: 71px;
  height: 71px;
  border-radius: 71px;
}

.userMeta {
  margin-top: 10px;
  text-align: center;
}

.dateWriterSince {
  font-size: 14px;
}

.userBio {
  padding-top: 20px;
}

.social * {
  font-size: 30px;
  color: black !important;
}

.editButton {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  .userCardContent {
    padding: 22px;
  }
  .userCardHeader {
    flex-direction: row;
    border-bottom: 1px solid var(--grayLight);
    padding: 10px 0 25px 0;
    justify-content: left;
  }
  .userMeta {
    text-align: left;
    margin-left: 20px;
  }
}