@import '../../css/colors.css';

.input {
  background-color: white;
  color: black;
  border: 1px solid var(--gray);
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 18px;
  width: 100%;
}