.popoutOuter {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 5;
}

.popoutInner {
  width: 270px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popoutInner button {
  width: 100%;
}

.copyButton {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .popoutOuter {
    top: -145px;
    right: unset;
    left: 0;
  }
}