@import '../../css/colors.css';

.container {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 4px 10px;
  font-size: 11px;
}

.primary {
  color: white;
  background-color: var(--primary);
  border-radius: 7px;
}

.secondary {
  color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 7px;
}
