@import '../../css/colors.css';

.cardContainer {
  max-width: 381px;
  width: 100%;
}

.cardContent {
  max-width: 381px;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.newChip {
  padding: 3px 8px;
  border-radius: 7px;
  background-color: white; 
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 600;
  position: absolute; 
  top: 10px;
  left: 10px;
}

.thumbnail {
  width: calc(100% + 2px);
  height: 351px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  position: relative;
  left: -1px;
  top: -1px;
}

.cardBody {
  padding: 10px 20px;
}

.timeAndCost {
  margin-top: 5px;
  font-size: 16px;
  color: var(--gray);
}

.tagsContainer {
  margin-top: 8px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.tag {
  margin-right: 5px;
  margin-bottom: 5px;
}