 

.container {
  position: relative;
}

.cardContainer {
  max-width: 381px;
  width: 100%;
  transition: 0.15s;
  margin: auto;
}

.cardContent {
  max-width: 381px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  text-align: left;
}

.newChip {
  padding: 3px 8px;
  border-radius: 7px;
  background-color: white; 
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 600;
  position: absolute; 
  top: 10px;
  left: 10px;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.15s;
  display: block;
  position: relative;
}

.thumbnailImage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  pointer-events: none;
}

.thumbnailPlaceholder {
  transition: opacity ease-in 500ms;
  background-color: var(--primaryHighlight);
  object-fit: none;
}

.thumbnailPlaceholderClear {
  opacity: 0;
  pointer-events: none;
}

.thumbnail:hover {
  opacity: 0.8;
  transition: 0.15s;
}

.cardBody {
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.timeAndCost {
  margin-top: 5px;
  font-size: 16px;
  color: var(--gray);
}

.tagsContainer {
  margin-top: 8px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.tag {
  margin-right: 5px;
  margin-bottom: 5px;
}

.description {
  padding: 10px 0;
}


/** Full Date Card Style **/
.fullDateCard {
  max-width: 100%;
}

.fullDateCard .cardContent {
  max-width: 100%;
  display: flex;
  min-height: 251px;
  align-items: stretch;
}

.fullDateCard .thumbnail {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: unset;
}

.fullDateCard .thumbnailImage {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fullDateCard .cardBody {
  padding: 24px 27px;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titleRow a {
  color: black;
}

.mobileOnly {
  display: none;
}
.desktopOnly {
  display: initial;
}

.spacer {
  flex-grow: 1;
}

.commentLink {
  color: var(--primary);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.commentIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.cardButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewDetails {
  font-weight: bold;
  font-size: 16px;
}

.creatorRow {
  display: flex;
  align-items: center;
  margin: 6px 0 2px 0;
  justify-content: space-between;
}

.creatorContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  margin-right: 16px;
}

.creatorImg {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 12px;
}

.newCreator {
  font-size: 12px;
  background-color: var(--yellow);
  border-radius: 6px;
  padding: 4px 8px;
  margin-left: 8px;
  min-width: 106px;
  color: black;
}

.commentSaveRow {
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -57px;
  background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 768px) {
  .fullDateCard .cardContent {
    flex-direction: column;
  }
  .fullDateCard .thumbnail {
    height: 300px;
    width: unset;
    left: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .fullDateCard .thumbnailImage {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .fullDateCard .cardBody {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-left: 1px solid var(--gray);
  }
  .cardButtons {
    display: block;
  }
  .dateDetailsButton{
    width: 100%;
    margin-bottom: 10px;
  }
  .mobileOnly {
    display: initial;
  }
  .desktopOnly {
    display: none;
  }
  .commentLink {
    margin-top: 10px;
  
  }
  .commentIcon {
    margin-top:5px;
  }
  .commentSaveRow{
    height: 42px;
    top: -42px;
  }
}

.favorite .cardBody {
  border-color: var(--primary);
}