.title {
  font-weight: 900;
  font-size: 32px;
  font-family: 'Roboto';
  letter-spacing: 6.7px;
  text-decoration: none;
  transition: 0.15s;
  cursor: pointer;
}

.title:hover {
  transition: 0.15s;
  opacity: 0.7;
}

/* @media only screen and (max-width: 768px) { */
  .responsive {
    font-size: 16px;
    letter-spacing: 6.625px;
  }
/* } */