body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans' !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway' !important;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Open Sans' !important;
}

button {
  border: none;
  background: none;
}

.MuiCardActionArea-focusHighlight {
  display: none;
}

.MuiChip-root {
  border-radius: 4px !important;
}

.gm-style button {
  display: none;
  pointer-events: none;
  visibility: hidden;
}
.gm-style [role="button"] {
  display: none;
  pointer-events: none;
  visibility: hidden;
}
.gm-bundled-control {
  display: none;
  pointer-events: none;
  visibility: hidden;
}
.gm-style-mtc {
  display: none;
  pointer-events: none;
  visibility: hidden;
}

.MuiChip-root {
  font-family: Raleway !important;
}

.MuiButton-label {
  font-family: Raleway !important;
}

.MuiButton-contained {
  font-weight: 600 !important;
  box-shadow: none !important;
}

.horizontal-menu {
  margin-bottom: 30px;
}
