.button {
  outline: none;
}

.button svg {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  color: var(--primary);
}

.contactLink {
  font-family: 'Lato', sans-serif;
  font-size: inherit;
}

.popoutInner {
  width: 100%;
  max-width: 300px;
  padding: 20px;
}