.button {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 14px;
  font-weight: bold;
}

.button:active, .button:focus {
  outline: none;
}

.icon {
  width: 28px;
  height: 28px;
}

.filledIcon {
  position: absolute;
  left: 0px;
  top: 0px;
}

.visible {
  transform: scale(1);
  transition: 0.15s ease-in-out;
}

.hidden {
  transform: scale(0);
  transition: 0.15s ease-in-out;
}