.button {
  position: relative;
  color: var(--primary);
}

.button:active, .button:focus {
  outline: none;
}

.icon {
  width: 32px;
  height: 32px;
}

.filledIcon {
  position: absolute;
  left: 0px;
  top: 0px;
}

.visible {
  transform: scale(1);
  transition: 0.15s ease-in-out;
}

.hidden {
  transform: scale(0);
  transition: 0.15s ease-in-out;
}